.footer {
  background-color: rgb(61, 60, 64);
  padding: 15px;
  align-items: baseline;
}
.footer > div {
  color: white;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 5px auto;
  text-align: center;
}
.footerChild2Items {
  color: white;
}
.footerChild2Items:hover {
  color: white;
  text-decoration: none;
}
.footerChild4ItemsImage {
  width: 155px;
}

/*  by default above css for extra small size */
/*  given css is for larger mobile screen */
@media only screen and (min-width: 576px) {
  .footerChild4ItemsImage {
    width: 180px;
  }
}

/*  given css is for tablet screen */
@media only screen and (min-width: 768px) {
}

/*  given css is for laptop screen */
@media only screen and (min-width: 992px) {
  .footerChild4ItemsImage {
    width: 200px;
  }
}
/*  given css is for desktop screen */
@media only screen and (min-width: 1200px) {
}
