:root {
  --filing-claims-bg-color: #2670b8;
}
.filingClaim {
  font-size: 20px;
  color: var(--filing-claims-bg-color);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}

.formGroup {
  margin-bottom: 30px;
  font-size: 20px;
}
.labelColor {
  color: #a8b0bc;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
}
.inputColor {
  border-radius: 15px !important;
  font-size: 15px !important;
}
.radioLabelColor {
  color: #6b6a6f;
  margin: inherit;
}
.radioLabelColor label {
  margin-left: 10px;
  font-size: 14px;
}
input[type="radio"] {
  transform: scale(1.5);
  filter: grayscale(1.3);
}

.nextButton {
  padding: 6px 52px !important;
  font-size: 20px !important;
  border-radius: 30px !important;
  background-color: rgb(38, 112, 184) !important;
}

/* now css for modal otop screen */
.modalSecondRow {
  margin: 30px;
  text-align: center;
  font-size: 33px;
  letter-spacing: 1px;
  color: #3d3c40;
}
.modalThirdRow {
  margin-bottom: 50px;
}
.modalFourthRow {
  margin-bottom: 70px;
}
.modalSubmitButton {
  font-size: 20px !important;
  padding: 10px 45px !important;
  border-radius: 30px !important;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-color: transparent !important;
}
.modalBorderRadius {
  border-radius: 30px !important;
}
.removeOtpBorder {
  border-bottom: 1px solid #7e8d90;
  margin: 10px;
  margin-bottom: 20px;
}
.removeOtpBorder input:focus-visible {
  outline: 0px;
  outline-offset: 0px;
}
.removeOtpBorder:focus-visible {
  outline: 0px;
}
.otpInputParent {
  justify-content: center;
  border: 1px solid #a8b0bc;
  border-radius: 50px;
}
.inputStyle {
  width: 3rem !important;
  height: 40px;
  border: none;
}

.error {
  border: 2px solid red !important;
  box-shadow: none !important;
}

/*  by default above css for extra small size */
/*  given css is for larger mobile screen */
@media only screen and (min-width: 576px) {
  .filingClaim {
    font-size: 31px;
  }
  .labelColor {
    font-size: 23px;
  }
  .inputColor {
    font-size: 16px !important;
  }
  .radioLabelColor label {
    font-size: 16px;
  }
  .modalThirdRow {
    padding: 0px 60px;
  }
}

/*  given css is for tablet screen */
@media only screen and (min-width: 768px) {
  .inputColor {
    font-size: 18px !important;
  }
}

/*  given css is for laptop screen */
@media only screen and (min-width: 992px) {
  .filingClaim {
    font-size: 35px;
  }
  .labelColor {
    font-size: 18px;
  }
  .inputColor {
    font-size: 14px !important;
  }
  .radioLabelColor label {
    font-size: 17px;
  }
}
/*  given css is for desktop screen */
@media only screen and (min-width: 1200px) {
  .filingClaim {
    font-size: 42px;
  }
  .labelColor {
    font-size: 22px;
  }
  .inputColor {
    font-size: 16px !important;
  }
  .radioLabelColor label {
    font-size: 21px;
  }
}
