:root {
  --main-bg-color: rgb(192, 228, 241);
  --download-bg-color: #3b93e9;
}
.navbar {
  padding: 0px 30px;
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);

  border-bottom-left-radius: 170% 50px;
  border-bottom-right-radius: 170% 50px;
}
.downloadForm {
  color: var(--download-bg-color);
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
  display: none;
}
.downloadForm:hover {
  color: var(--download-bg-color);
  text-decoration: none;
}
.contactUs {
  color: #3d3c40;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
}
.contactUs:hover {
  text-decoration: none;
  color: #3d3c40;
}
.rightSideBar {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.rpPortal {
  display: flex;
  justify-content: space-between;
  width: 230px;
  align-items: center;
  padding: 10px;
}
.rpPortal button {
  background-color: transparent;
  color: #3d3c40;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  border: none;
}
.rpPortal button:hover,
.rpPortal button:focus,
.rpPortal button:active {
  background-color: transparent !important;
  color: black !important;
  box-shadow: none !important;
}
.dropdownMenu div {
  min-width: -webkit-fill-available;
  padding: 20px 0px;
}
.sidebarOpen {
  z-index: 99999;
}
.sidebarClose {
  width: 0px;
  z-index: 99999;
}
.hamburgerMenu {
  display: block;
}
/*  by default above css for extra small size */
/*  given css is for larger mobile screen */
@media only screen and (min-width: 576px) {
}

/*  given css is for tablet screen */
@media only screen and (min-width: 768px) {
  .downloadForm {
    display: block;
  }
  .rightSideBar {
    display: flex;
  }
  .hamburgerMenu {
    display: none;
  }
}

/*  given css is for laptop screen */
@media only screen and (min-width: 992px) {
}
/*  given css is for desktop screen */
@media only screen and (min-width: 1200px) {
}
