:root {
  --filing-claims-bg-color: #2670b8;
}

.loginScreen {
  margin-left: 50px;
}
.formClass {
  margin-top: 50px;
}
.loginRow {
  margin-top: 30px;
  text-align: center;
}
.filingClaim {
  font-size: 25px;
  color: var(--filing-claims-bg-color);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  text-align: center;
}

.formGroup {
  margin-bottom: 30px;
  font-size: 21px;
}
.labelColor {
  color: #a8b0bc;
}
.inputColor {
  border-radius: 15px !important;
  font-size: 20px !important;
}
.nextButton {
  padding: 6px 52px !important;
  font-size: 20px !important;
  border-radius: 30px !important;
  background-color: rgb(38, 112, 184) !important;
}

.error {
  border: 2px solid red !important;
  box-shadow: none !important;
}
.showPassword {
  position: relative;
  right: 35px;
  cursor: pointer;
}
.showPassword img {
  width: 25px;
  vertical-align: text-bottom;
}
/*  by default above css for extra small size */
/*  given css is for small mobile screen */
@media only screen and (min-width: 576px) {
  .filingClaim {
    font-size: 35px;
  }
}

/*  given css is for tablet screen */
@media only screen and (min-width: 768px) {
  .filingClaim {
    font-size: 50px;
  }
}

/*  given css is for laptop screen */
@media only screen and (min-width: 992px) {
  .filingClaim {
    font-size: 34px;
  }
}
/*  given css is for desktop screen */
@media only screen and (min-width: 1200px) {
  .filingClaim {
    font-size: 42px;
  }
}
