.firstRow {
  margin: 50px 0px;
}
.firstColumn {
  padding-left: 5%;

  margin: 0px;
}
.secondColumn {
  padding: 0px;
  display: none;
  margin: auto;
}
.middleIcon {
  width: 100%;
  height: auto;
}
.dcirrusBlock {
  font-size: 20px;
  margin-top: 40px;
}

.dcirrusImage {
  padding-left: 8px;
  width: 60%;
}

@media only screen and (min-width: 992px) {
  .firstColumn {
    width: 50%;
  }
  .secondColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/*  give css has been remvoved just for demo pusposes */
.sidebar {
  font-size: 40px;
  position: absolute;
  left: -260px;
  background-color: darkblue;
  border-right: 10px solid red;
  width: 20%;
  height: 50px;
  padding-right: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar:hover {
  left: 0px;
  transition: left 0.8s;
}
