.folderSelected {
  background-image: url("../Assets/backgroundFolder.png");
  color: #4dcfe0;
}

.hoverOnFolder:hover {
  background-image: url("../Assets/backgroundFolder.png");
  cursor: pointer;
}
.removeFileIcon {
  position: relative;
  right: 35px;
  cursor: pointer;
}
.searchFolder {
  padding-right: 40px !important;
  color: #6f6d73 !important;
  text-transform: none;
}
.mainContainer {
  /* padding-left: 80px;
   */
  margin-top: 60px;
  min-height: 56vh;
}
.firstRow {
  margin-right: 30px;
}
.secondRow {
  margin-right: 30px;
  margin-bottom: 50px;
}
.firstRowFirstColumn {
  color: #4dcfe0;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.firstRowSecondColumn {
  padding-left: 57px;
  margin-top: 20px;
}
.secondRowFirstColumn {
  font-size: 38px;
  font-weight: 700;
}

.folderBlock {
  display: inline-block;
  text-align: center;
  padding: 10px;
}
.folderBlock img {
  width: 50px;
}
.folderName {
  font-size: 10px;
  margin: 0px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  width: 100px;
  height: 20px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
}

.secondRowSecondColumn {
  padding-left: 57px;
  margin-top: 30px;
}
.folderInformationBlock {
  border: 1px solid #a6a5aa;
  border-radius: 10px;
  padding: 25px;
}

.selectedFolderName {
  font-size: 29px;
  color: #00bbd3;
}
.folderCreationDate {
  font-size: 14px;
  color: rgb(166, 165, 170);
}
.claimsReceived {
  color: #6f6d73;
  /* margin-top: 20px;
  margin-bottom: 40px; */
}
.creditorClaims {
  display: inline-block;
  color: #6f6d73;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 13px;
}
.linkBlock {
  display: flex;
  border: 1px solid black;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
}
.link {
  margin: 0px;
  width: 32vw;
  word-break: break-all;
  height: 20px;
  overflow: hidden;
  padding-left: 20px;
  text-overflow: ellipsis;
}

.linkButton {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  font-size: 12px !important;
  background-color: #00bbd3 !important;
  color: white !important;
}
.generateNewLinkBlock {
  text-align: center;
  margin: 20px 0px;
}
.generateNewLink {
  color: #6f6d73;
}

/*  by default above css for extra small size */
/*  given css is for larger mobile screen */
@media only screen and (min-width: 576px) {
  .firstRowFirstColumn {
    margin-bottom: 20px;
  }
  .firstRowSecondColumn {
    margin-top: 0px;
  }
  .folderBlock {
    padding: 30px;
  }
  .folderBlock img {
    width: 100px;
  }
  .folderName {
    font-size: 20px;
    height: 45px;
  }
  .selectedFolderName {
    font-size: 40px;
  }
  .folderCreationDate {
    font-size: 20px;
  }
  .claimsReceived {
    font-size: 20px;
  }
  .creditorClaims {
    font-size: 20px;
  }
  .link {
    width: 46vw;
  }
}

/*  given css is for tablet screen */
@media only screen and (min-width: 768px) {
  .link {
    width: 42vw;
  }
}

/*  given css is for laptop screen */
@media only screen and (min-width: 992px) {
  .firstRowFirstColumn {
    font-size: 35px;
  }
  .link {
    width: 23vw;
  }
}
/*  given css is for desktop screen */
@media only screen and (min-width: 1200px) {
  .firstRowFirstColumn {
    font-size: 44px;
  }
}
